{{ partial "thumbnail" . }}
<div class="text">
  <p class="headline">
    <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
  </p>
  <p class="subheader">
    <span class="date">
      {{ with .Params.metadata.event.date }}
        {{ if eq (time.Format "2 January 2006" .start) (time.Format "2 January 2006" .finish) }}
          {{ if eq (time.Format "15:04" .start) (time.Format "15:04" .finish) }}
            {{ time.Format "2 de January de 2006" .start }}
          {{ else }}
            {{ time.Format "2 de January de 2006" .start }} das
            {{ time.Format "15:04" .start }} às
            {{ time.Format "15:04" .finish }}
          {{ end }}
        {{ else if eq (time.Format "January 2006" .start) (time.Format "January 2006" .finish) }}
          De {{ time.Format "2" .start }} a {{ time.Format "2 de January de 2006" .finish }}
        {{ else }}
          De {{ time.Format "2 de January de 2006" .start }} a {{ time.Format "2 de January de 2006" .finish }}
        {{ end }}
      {{ end }}
    </span>
    &mdash;
    <span class='location'>{{ .Params.metadata.event.location }}</span>
  </p>
</div>

