{{- define "main" -}}

<h1 class='events-list-title body-width'>Próximos eventos</h2>

{{ $query := where site.RegularPages "Type" "eventos" }}
{{ $query = where $query "Params.metadata.event.date.finish" ">=" (now.Format "2006-01-02") }}
{{ $query = sort $query "Params.metadata.event.date.start" }}
<ul class="events-list body-width">
  {{ range $query }}
    <li>{{ partial "evento" . }}</li>
  {{ end }}
</ul>

<h1 class='events-list-title body-width'>Eventos antigos</h2>
<ul class="events-list body-width">
  {{ $query := where site.RegularPages "Type" "eventos" }}
  {{ $query = where $query "Params.metadata.event.date.finish" "<" (now.Format "2006-01-02") }}
  {{ $query = sort $query "Params.metadata.event.date.start" "desc" }}
  {{ $paginator := .Paginate $query }}
  {{ range $paginator.Pages }}
    <li>{{ partial "evento" . }}</li>
  {{ end }}

  {{ partial "pagination" . }}
</ul>

{{- end -}}
