{{- define "main" -}}

{{ $image := (.Resources.ByType "image").GetMatch "*cover*" }}
<article class="article">
  <h1>{{ .Title }}</h1>

  {{ if and $image (not (eq .Params.showcover false)) }}
  <img src="{{ $image.RelPermalink }}" alt="" class="featured-image" style="max-width: 100px;">
  {{ end }}

  <div class="article-container">
    <div class="article-style">
      {{ .Content }}

      <h3>Informação do evento</h3>

      {{ with .Params.metadata.event.date }}
        <p>
          <strong>Data:</strong>
          {{ if eq (time.Format "2 January 2006" .start) (time.Format "2 January 2006" .finish) }}
            {{ if eq (time.Format "15:04" .start) (time.Format "15:04" .finish) }}
              {{ time.Format "2 de January de 2006" .start }}
            {{ else }}
              {{ time.Format "2 de January de 2006" .start }} das
              {{ time.Format "15:04" .start }} às
              {{ time.Format "15:04" .finish }}
            {{ end }}
          {{ else if eq (time.Format "January 2006" .start) (time.Format "January 2006" .finish) }}
            De {{ time.Format "2" .start }} a {{ time.Format "2 de January de 2006" .finish }}
          {{ else }}
            De {{ time.Format "2 de January de 2006" .start }} até {{ time.Format "2 de January de 2006" .finish }}
          {{ end }}
        </p>
      {{ end }}

      {{ with .Params.metadata.event.site }}
        <p><strong>Website:</strong> <a href="{{ .url }}">{{ .title | or .url }}</a></p>
      {{ end }}

      {{ with .Params.metadata.event.location }}
        <p><strong>Local:</strong> {{ . }}</p>
      {{ end }}
    </div>

    {{ partial "page_footer" . }}

  </div>
</article>
{{- end -}}
